:root {
    --primary: white;
}

.btn {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn--primary {
    background-color: var(--primary);
    color: #242424;
    text-align: center;
    border: 1px solid var(--primary);
}

.btn--outline {
    background-color: white;
    color: #0c2340;
    padding: 8px 20px;
    /* min-width: fit-content; */
    border: 6px solid var(--primary);
    border-color: #9F9DA4;
    transition: all 0.3s ease-out;

}

.btn--outline2 {
    background: url('../IMG-01781.jpg') center center/cover no-repeat;
    border-radius: 25px;
    padding: 20px;
    width: 300px;
    height: 214.2857px;
    color: transparent;
    /* padding: 8px 20px; */
    /* min-width: fit-content; */
    border: 6px solid var(--primary);
    /* border-color: #0c2340; */
    transition: all 0.3s ease-out;
}

.btn--outline3 {
    background: url('../IMG-02031.jpg') center center/cover no-repeat;
    border-radius: 25px;
    padding: 20px;
    width: 300px;
    height: 214.2857px;
    color: transparent;
    /* padding: 8px 20px; */
    /* min-width: fit-content; */
    border: 6px solid var(--primary);
    /* border-color: #0c2340; */
    transition: all 0.3s ease-out;
}

.btn--medium {
    padding: 8px 20px;
    margin: 40px;
    font-size: 20px;
}

.btn--large {
    padding: 12px 26px;
    font-size: 20px;
}

.btn--xl {
    padding: 200px 26px;
    font-size: 20px;
}

.btn--outline:hover,
.btn--outline:hover {
    background: #0c2340;
    color: #fff;
    transition: all 0.3s ease-in;

}

.btn--outline2:hover,
.btn--outline2:hover {
    background: url('../IMG-01781-1.jpg') center center/cover no-repeat;
    color: #fff;
    transition: all 0.3s ease-in;

}

.btn--outline3:hover,
.btn--outline3:hover {
    background: url('../IMG-02031-1.jpg') center center/cover no-repeat;
    color: #fff;
    transition: all 0.3s ease-in;

}

@media screen and (max-width: 768px) {
    .btn--medium {
        padding: 8px 20px;
        margin: 10px;
        font-size: 20px;
    }
}